
!.vscode/extensions.json
# Editor directories and files
# Environment variables
# Logs
# Snapshots
*.local
*.log
backups/*.dump
backups/*.sql
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.env.*
!.env.example
!.env.local.example
.idea
.snapshots/
.vscode/*
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
